
img {
    width: 40px;
    /* margin: 0.2em; */
}

#APLogo {
    width: 25em;
    
}

.container-fluid {
    /* display: contents; */
    background-color: var(--colorheader);
}

#github {
    width: 3.7em;
}

#linkedin {
    width: 2.8em;
}