<div class="container">
    <div class="row">
        <div class="col">
            <img class="rounded float-start" src="https://acortar.link/SXMCMM" id="APLogo">
        </div>
        <div class="col">
            <button type="submit" *ngIf="!isUserLogged" routerLink="/login"
                class="float-end btn btn-outline-light">INGRESO</button>
            <button type="submit" *ngIf="isUserLogged" routerLink="/logout" class="float-end btn btn-outline-light"
                (click)="logout()">SALIR</button>

            <a href=""><img class="float-end" src="../../../assets/Mail.png" id="mail"></a>
            <a href=""><img class="float-end" src="../../../assets/GitHub.png" id="github"></a>
            <a href=""><img class="float-end" src="https://i.pinimg.com/736x/dd/2c/80/dd2c809c09ed7a8d45507de3d291209f.jpg" id="linkedin"></a>

        </div>
    </div>

</div>