<div class="container">
    <div class="row">
        <div class="col">
            <img class="rounded float-start" src="../../../assets/APLogoo.png" id="APLogo">
        </div>
        <div class="col">
            <button type="submit" *ngIf="!isUserLogged" routerLink="/login"
                class="float-end btn btn-outline-light">INGRESO</button>
            <button type="submit" *ngIf="isUserLogged" routerLink="/logout" class="float-end btn btn-outline-light"
                (click)="logout()">SALIR</button>

            <a href=""><img class="float-end" src="../../../assets/Mail.png" id="mail"></a>
            <a href=""><img class="float-end" src="../../../assets/GitHub.png" id="github"></a>
            <a href=""><img class="float-end" src="../../../assets/LinkedIn.png" id="linkedin"></a>

        </div>
    </div>

</div>