<div class="row">

    <h2>Experiencia Laboral</h2>

    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h4>(años)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas necessitatibus ea cupiditate modi molestias non velit suscipit quis quibusdam veritatis eligendi voluptate reiciendis magni esse, a maxime sint sit aspernatur?</p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 2</h3> - <h4>(años)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas necessitatibus ea cupiditate modi molestias non velit suscipit quis quibusdam veritatis eligendi voluptate reiciendis magni esse, a maxime sint sit aspernatur?</p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 3</h3> - <h4>(años)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas necessitatibus ea cupiditate modi molestias non velit suscipit quis quibusdam veritatis eligendi voluptate reiciendis magni esse, a maxime sint sit aspernatur?</p>
        </ul>

    </div>
</div>