<div data-bs-spy="scroll" data-bs-target="#navbar-portfolio" data-bs-offset="0" data-bs-smooth-scroll="true" class="row scrollspy-example" tabindex="0">
    <app-header></app-header>
    <app-banner id="item-banner" class=""></app-banner> 
    <app-acerca-de id="item-acerca"></app-acerca-de>
    <app-experiencia id="item-experiencia"></app-experiencia>
    <app-educacion id="item-educacion"></app-educacion>
    <div id="item-hyss">
    
    <app-hyss></app-hyss>
    </div>
    <div id="item-proyectos">
        <app-proyectos></app-proyectos>
    </div>
</div>
