.container {
    display: contents;
}

div {
    background-color: var(--colordefondo);
    
}

.contenidoAcercaDe {
    z-index: 1000;
}

/*Estilo de la foto de perfil*/

@media (min-width: 646px){
    #fotodeperfil{
        position: relative;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0.3em 0.3em 0.3em grey;
        
        
        margin-top: -5%;
        justify-content: center;
    }
}

@media (max-width: 645px){
    #fotodeperfil{
        /* position: relative; */
        width: 60%;
        border-radius: 100%;
        box-shadow: 0.3em 0.3em 0.3em grey;
        margin-top: -10%;
        

    }
}   