
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img class="img-fluid" src="../../../assets/FotoPerfil.jpg" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p>Damián Fernando Cejas</p>
            <p>Desarrollador Full Stack Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>Acerca de mi</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur quidem voluptatum similique quam quibusdam nostrum, suscipit molestiae exercitationem, optio commodi numquam itaque perspiciatis beatae maiores ratione recusandae earum fuga animi.</p>
        </div>
    </div>

</div>